* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*首页头部begin*/
#header {
    width: 100%;
    height: 369px;
    background: url(../imgs/bg.jfif) no-repeat;
    background-size: 100%;
}

#header .Header_btn{
    width: 160px;
    height:40px;
    margin: 220px auto;
    background:url(../imgs/topfoot-spr.png) repeat;
    background-position: -216px -39px;
}

#header .header{
    width: 100%;
    height:78px;
    background:url(../imgs/dark-jianbian-repeatx-0.png)  center top;
    margin: 0px auto;
    box-shadow:0px -3px 167px 6px;
}

#header .header .header_top{
    width: 100%;
    height: 360px;
    margin: 0px auto;
    /* background-color: yellow; */
}

#header .header .nav{
    height: 78px;
    position:relative;
    z-index: 10;
    margin: 0px auto;
}

#header .header .nav .nav_left{
    float: left;
    width: 75%;
    height: 100%;
}

#header .header .nav .nav_left li{
    float: left;
    width: 20%;
    height:78px;
}

#header .header .nav .nav_left li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

#header .header .nav .nav_right{
    float: right;
    width: 25%;
    height: 100%;
}

#header .header .nav .nav_right li{
    float: left;
    width: 50px;
    height: 78px;
    text-align: center;
    line-height: 78px;
}

#header .header .nav .nav_right .We .ewm{
    display: none;
    width: 200px;
    height: 170px;
    position: relative;
    left: -81px;
}

#header .header .nav .nav_right .We .ewm i{
    display: block;
    width: 120px;
    height:120px;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: white;
}

#header .header .nav .nav_right .We .ewm i img{
    width: 110px;
    height: 110px;
    margin-top: 4px;
}

#header .header .nav .nav_right .We .ewm i .p1{
    color: #cdbe91;
    font-size: 12px;
    position: absolute;
    font: 12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
    top: 123px;
}

#header .header .nav .nav_right .We .ewm i span{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 106px;
}

#header .header .nav .nav_right .We .ewm i span img{
    width: 100%;
    height: 100%;
}

#header .header .nav .nav_right .We:hover .ewm{
    display: block;
}


#header .header .nav .nav_right .text{
    width: 270px;
    height: 78px;
    line-height: 78px;
    position: relative;
    top: 0px;
}

#header .header .nav .nav_right .text span{
    position: relative;
    top: -9px;
}

#header .header .nav .nav_right .text .active{
    display: none;
    width: 100%;
    height: 230px;
    position: relative;
    top: -91px;
    left: -2px;
    z-index: -100;
    background: url(../imgs/dark70-bg-repeat.png) repeat;
}

#header .header .nav .nav_right .text .active .pText{
    display: block;
    height: auto;
    position: absolute;
    font-size: 12px;
    color: #848383;
    text-align:center;
    line-height: 20px;
    font: 12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
}

#header .header .nav .nav_right .text .active .p2{
    top: 100px;
}

#header .header .nav .nav_right .text .active .p3{
    top: 150px;
}

#header .header .nav .nav_right .text .active .login{
    display: block;
    width: 100%;
    height: 44px;
    position:absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 44px;
    background-color: black;
}

#header .header .nav .nav_right .text .active .login .more-arrow{
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
    -webkit-animation: 1.5s linear infinite;
    background-position: -301px -96px;
    background-image: url(../imgs/comm-spr.png);
    background-size: 393px 200px;
    background-repeat: no-repeat;
    width: 15px;
    height: 9px;
}

#header .header .nav .nav_right .text:hover .active{
    display: block;
}
/*首页头部end */

/*轮播图begin*/
.section {
    height: 300px;
    margin: 20px 50px;
}

.focus {
    display: inline-block;
    width: 800px;
    height: 300px;
    background-color: pink;
}

.carousel,
.carousel img {
    width: 100%;
    height: 300px !important;
}

.carousel-caption {
    line-height: 41px;
    font-size: 16px!important;
    padding: 0!important;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    padding: 5px 10px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
}
/*轮播图end*/

/*新闻列表begin*/
.tab {
    float: right;
    width: 600px;
    height: 100%;
}

.tab-ul {
    height: 100%;
    margin: auto;
}

.tab-ul .first{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-top: 1px solid #848383;
}

.tab-ul .first a {
    color: #5161f0!important;
    font-size: 22px;
    font-weight: 700;
}

.tab-ul .first a:hover {
    color: #e9852d!important;
}

.tab-ul .item {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #848383;
}

.tab-ul .item .item-type {
    width: 36px;
    height: 20px;
    color: #e9852d;
    border: 1px solid #e9852d;
    font-size: 12px;
    padding: 5px;
}

.tab-ul .item .item-href {
    color: #424242!important;
    font-size: 14px;
    margin-left: 20px;

}

.tab-ul .item .item-href:hover {
    color: #e9852d!important;
}
/*新闻列表end*/

/*页脚begin*/
.footer {
    height: 100px;
    margin: 50px;
    color: white;
}

.footer-link-item {
    display: inline-block;
    margin-left: 20px;
}

.footer-link-item:first-child {
    margin-left: 0;
}

.footer-copyright {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 11px;
}

.footer-sns {
    text-align: right;
}

.footer-sns-item {
    display: inline-block;
    margin-left: 10px;
}
/*页脚end*/